body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
   }
   
   header {
    background-color: #c90b0b;
    padding: 20px;
    text-align: center;
   }
   
   h1, h2, h3 {
    color: #333;
   }
   
   .project {
    margin-bottom: 20px;
   }

   footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
   }